/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: 'Work Sans';
  font-size: 14px;
  background-color: #fffef8;
}

header,
main,
footer {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  margin-top: 4px;
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.edit-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.edit-button:hover {
  color: #1d6154;
  font-weight: 600;
}

#introduction button {
  margin: 20px 0;
  transform: translateX(-5px);
}

.button-to-round {
  transition: 200ms;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 15px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 150px 0;
}
#introduction figure {
  max-width: 500px;
  flex: 1;
}
#introduction img {
  width: 100%;
  display: block;
}

#introduction article {
  max-width: 400px;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#header-portfolio {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 50px 0;
}

.filter {
  display: none;
}
.filter:checked + label {
  transition: 250ms;
  background-color: #1d6154;
  color: white;
}

.filter + label {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Syne';
  border-radius: 60px;
  border: 1px solid #1d6154;
  color: #1d6154;
  padding: 0.7em 1.4em;
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@keyframes appear {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }

  50% {
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gallery figure {
  opacity: 0;
}

.gallery img {
  width: 100%;
}

#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form,
.modal form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 2em 0 1em 0;
}

#login {
  margin-top: 150px;
}

#login a {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#login-error {
  display: none;
  color: red;
  margin-bottom: 30px;
  animation: appear 500ms ease;
}
.modify {
  position: relative;
}
.modify img {
  position: absolute;
  left: -25px;
  max-width: 18px;
  height: 18px;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer {
  margin-top: 2rem;
}

.footer-loginpage {
  margin-top: 36vh;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.edition-banner {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.edition-banner div {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.edition-banner button {
  font-size: 0.9rem;
  background-color: white;
  border-radius: 60px;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
}

#log button {
  color: #be0c0c;
}

.bolder {
  font-weight: bolder;
}

.modal {
  width: 630px;
  border: none;
  padding: 60px 100px 50px 100px;
  animation: appearFromBottom 600ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.modal-close {
  animation: disappearToBottom 600ms ease;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal section {
  position: relative;
}

.modal section::after {
  position: absolute;
  content: '';
  bottom: -40px;
  background-color: #b3b3b3;
  height: 1px;
  width: 100%;
}

.modal__form {
  position: relative;
  margin-bottom: 50px;
}

.modal__form::after {
  position: absolute;
  content: '';
  bottom: -40px;
  background-color: #b3b3b3;
  height: 1px;
  width: 100%;
}

#gallery-modal {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(5, 1fr);
}

#gallery-modal figure {
  position: relative;
}

.modal img {
  width: 100%;
}

#gallery-modal button {
  border-radius: 2px;
  color: white;
  background-color: black;
  height: 17px;
  width: 17px;
  z-index: 10;
  top: 6px;
  right: 6px;
  position: absolute;
  display: grid;
  justify-content: center;
  place-items: center;
}

#gallery-modal svg {
  height: 9px;
  width: 9px;
}

.modal h2 {
  font-family: 'Work Sans';
  color: black;
  font-weight: 400;
}

.modal__delete-btn {
  color: red;
  font-size: 0.85rem;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.previous {
  position: absolute;
  top: 30px;
  left: 30px;
}

form input,
form select {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type='submit'] {
  cursor: pointer;
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  border: none;
  height: 36px;
  font-size: 14px;
  transition: 300ms;
}

input[type='submit']:invalid {
  background-color: #a7a7a7;
}

input[type='submit']:hover {
  opacity: 0.9;
}

input[type='submit']:active {
  transform: scale(0.9);
}

.modal__form {
  width: 420px;
}

.form__file {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e8f1f7;
  border-radius: 3px;
  padding: 30px;
}

.form__file input {
  box-shadow: none;
}

input[type='file'] {
  display: none;
}

.form__file p {
  font-size: 10px;
}

.form__file-label {
  cursor: pointer;
  height: 36px;
  width: 173px;
  background-color: #cbd6dc;
  border-radius: 50px;
  color: #306685;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
}

.form__file-label:hover {
  opacity: 0.8;
  color: #1d6154;
}

.hoverable {
  transition: 300ms;
}
.hoverable:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

@keyframes appearFromBottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes disappearToBottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}

#submit {
  background-color: #a7a7a7;
}

.form__file > img {
  object-fit: contain;
  max-height: 205px;
}
